<main class="main-content">
    <div class="content-wrap">
        <div class="logo-box">
           <img src="../../../assets/img/logo-white.png">
        </div>
        <div class="cta-box">
           <h1>We Will Be Back <span class="highlight">Soon!</span></h1>
           <p>We are using this time to give our website a revamp!
              Please leave us your email and we will let you know when we are back up.
           </p>
        </div>
        <form action="" class="newsletter" name="newsletter" method="post">
           <input type="email" class="form-field" name="email" placeholder="Your Email">
           <button type="submit" class="btn-main">Notify me!</button>
        </form>            
     </div>
</main>