
<main class="main-content">
  <app-spinner></app-spinner>
  <section id="policy_section" class="policy_section section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 class="text-center">{{'privacy policy'| translate }}</h2>
        <p class="text-center text-body-color">
          {{'online_privacy_policy' | translate }}
        </p>
      </div>
  
      <div class="accordion-list">
        <ul>
          <!-- 1-Information Collected by the Service -->
          <li data-aos="fade-up">              
            <i class="bi bi-question-octagon icon-help d-flex"></i>
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#information_collected_by_the_service">              
              {{'information_collected_service' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="information_collected_by_the_service" class="collapse show" data-bs-parent=".accordion-list">
              <p>
                {{'innovative_technologies_for_information1_1' | translate}}                
              </p>
              <p>
                {{'information_about_your_online1_2' | translate}}
              </p>
              <p>
                {{'if_your_choose_to_access1_3' | translate }}
              </p>
              <p>
                {{'we_collect_your_current_location1_4' | translate }}
              </p>
            </div>
          </li>
  
          <!-- 2-How the Service Uses Information About You -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#how_the_service_uses_information_about_you" class="collapsed">
              {{'how_the_service_uses_information2' | translate}}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="how_the_service_uses_information_about_you" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'we_use_your_personally_identifiable2_1' | translate}}
              </p>
              <p>
                {{'we_may_also_use_the_information2_2' | translate }}
              </p>
              <p>
                {{'unless_otherwise_expressly_restricted2_3' | translate}}
              </p>
              <p>
                {{'we_may_also_sole_discretion2_4' | translate }}
              </p>
              <p>
                {{'we_wish_to_import_that_whie2_5' | translate }}
              </p>
              <p>
                {{'we_shall_have_the_right_to_use2_6' | translate }}
              </p>
              <p>
                {{'we_reserve_right_transfer2_7' | translate }}
              </p>
              <p>
                {{'case_assets_owned_manner_controlled2_8' | translate }}
              </p>
              <p>
                {{'reserve_right_merge__co_mingle_anonymous2_9' | translate }}
              </p>
              <p>
                {{'like_many_site_operators2_10' | translate }}
              </p>
              <p>
                {{'shall_have_access_personally2_11' | translate }}
              </p>
              <p>
                {{'reasonable_steps_personal_information2_12' | translate }}
              </p>
              <p>
                {{'officially_required_court_government2_13' | translate }}
              </p>
            </div>
          </li>        
          
          <!-- 3- Local Device Storage Tracking Technologies -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#local_device_storage_tracking_technoloigies" class="collapsed">
              {{'local_device_storage_tracking3' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="local_device_storage_tracking_technoloigies" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'services_sometimes_store_code3_1' | translate }}
              </p>
              <P>
                {{'many_sites_cookies3_2' | translate}}
              </P>
              <P>
                {{'addition_said_local_device3_3' | translate}}
              </P>
              <P>
                {{'advertising_service_vendors3_4' | translate}}
              </P>
            </div>
          </li>
  
          <!-- 4- Transfer of Information -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#transfer_of_information" class="collapsed">
              {{'transfer_information4' | translate}}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="transfer_of_information" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'information_transferred_maintained4_0' | translate }}
              </p>
            </div>
          </li>
  
          <!-- 5- Monitoring, non-monitoring and Violating Content -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#monitoring_non_monitoring_and_violating_content" class="collapsed">
              {{'monitoring_violating_content5' | translate }}	
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="monitoring_non_monitoring_and_violating_content" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'best_endeavors_provide_pleasing5_1' | translate}}
              </p>
              <P>
                {{'other_hand_perform_neighter_warrant5_2' | translate }}
              </P>
              <P>
                {{'necessarily_endorse_support5_3' | translate }}
              </P>
              <P>
                {{'content_posted_uploaded_transimitted5_4' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 6- Information Security and Notification -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#information_security_and_notification" class="collapsed">
              {{'information_security_notification6' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="information_security_and_notification" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'acknowledged_transmission6_1' | translate }}
              </p>
              <P>
                {{'using_this_site_account_responsible6_1' | translate }}
              </P>
              <P>
                {{'service_agree_accept_risk_related6_3' | translate }}
              </P>
              <P>
                {{'registration_information_identifiable6_4' | translate }}
              </P>
              <P>
                {{'become_aware_security_information6_5' | translate }}
              </P>								
            </div>
          </li>
  
  
          <!-- 7- Children and Kids Restriction -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#children_and_kids_restriction" class="collapsed">
              {{'children_kids7' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="children_and_kids_restriction" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'privacy_policy_agreement_applies7_1' | translate }}
              </p>
              <P>
                {{'review_change_delete7_2' | translate }}
              </P>
              <P>
                {{'service_intended_children_age7_3' | translate }}
              </P>
              <P>
                {{'children_sometimes_disclose_personal7_4' | translate}}
              </P>
              <P>
                {{'effective_parental_control7_5' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 8-Our Rights of Termination or Suspension of Service -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#our_rights_of_termination_suspension_service" class="collapsed">
              {{'our_rights_termination_suspension8' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="our_rights_of_termination_suspension_service" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'reserve_fully_entitled_reason8_1' | translate }}
              </p>
              <P>
                {{'termination_suspension_account8_2' | translate }}
              </P>
              <P>
                {{'exercise_use_rights_provisions8_3' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 9- Disclaimer and limitation of Liability -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#disclaimer_limitation_liability" class="collapsed">
              {{'disclaimer_limitation_liability9' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="disclaimer_limitation_liability" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'unerstands_acknoledge9_1' | translate }}
              </p>
              <P>
                {{'strives_provide_uninterrupted_service9_2' | translate }}
              </P>
              <P>
                {{'shall_responsible_incomplete9_3' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 10- Communications between us -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#communications_between_us" class="collapsed">
              {{'communications_between_us10' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="communications_between_us" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'communication_electronic_means_whether10_1' | translate }}
              </p>
              <P>
                {{'hereby_consent_receiving10_2' | translate }}
              </P>
              <P>
                {{'furthermore_user_hereby_agrees10_3' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 11-Copyright, Trademark and Intellectual Property -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#copyright_trademark_intellectual_property" class="collapsed">
              {{'copyright_trademark_intellectual11' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="copyright_trademark_intellectual_property" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'trademark_memvera_features11_1' | translate }}
              </p>
              <P>
                {{'reproduce_modify_change_edit_crop11_2' | translate }}
              </P>
              <P>
                {{'solemnly_undertake_upload_transmit11_3' | translate }}
              </P>
              <P>
                {{'derive_source_code_underlying11_4' | translate }}
              </P>
              <P>
                {{'service_providers_respected11_5' | translate }}
              </P>
              <P>
                {{'reasons_believe_content_copied11_6' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 12- Our Private Policy Coordinator -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#our_private_policy_coordinator" class="collapsed">
              {{'our_private_policy_coordinator12' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="our_private_policy_coordinator" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'queires_about_privacy_policy12_0' | translate }}
              </p>
            </div>
          </li>
  
          <!-- 13-Indemnity -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#indemnity" class="collapsed">
              {{'indemnity13' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="indemnity" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'condition_use_site13_0' | translate }}
              </p>
            </div>
          </li>
  
          <!-- 14- Governing Law and Dispute Resolution -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#governing_law_dispute_resolution" class="collapsed">
              {{'governing_law_dispute_resolution14' | translate }}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="governing_law_dispute_resolution" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'governed_construed_accordance14_1' | translate }}
              </p>
              <P>
                {{'dispute_relating_manner_amicably14_2' | translate }}
              </P>
              <P>
                {{'arbitration_shall_not_prejudice14_3' | translate }}
              </P>
            </div>
          </li>
  
          <!-- 15. Amendments of this Private Policy Terms -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-question-octagon icon-help d-flex"></i> 
            <a data-bs-toggle="collapse" data-bs-target="#amendments_this_private_policy_terms" class="collapsed">
              {{'amendents_private_policy15' | translate}}
              <i class="bi bi-arrow-down-short icon-show"></i>
              <i class="bi bi-arrow-up-short icon-close"></i>
            </a>
            <div id="amendments_this_private_policy_terms" class="collapse" data-bs-parent=".accordion-list">
              <p>
                {{'terms_amended_time_time15_1' | translate }}
              </p>
            </div>
          </li>
  
        </ul>
      </div>
    </div>
  </section>
</main>