/*
-----------------------------------------------------------------------
    Policy page CSS
-----------------------------------------------------------------------
*/
.policy_section{
  padding-top: 150px;
  padding-bottom: 80px;
  .accordion-list{    
    .icon-show{
      font-size: 24px;
      position: absolute;
      right: 0;
      left: unset;
      top: 0;
      display: none;
    }
    .icon-close{
      @extend .icon-show;
      display: inline-block;
    }
    ul{
      padding: 0;
      list-style: none;
      li{
        padding: 20px;
        background: transparent;
        position: relative;
        border: 2px solid $theme-color;
        color: $theme-color-text;
        margin-top: 15px;
        p{
          color: $theme-color-text;
          margin-bottom: 20px;
          &:first-child{
            margin-top: 10px;
          }
        }
      }
    }
    .icon-help{
      font-size: 20px;
      position: absolute;
      right: unset;
      left: 20px;
      color: $theme-color;
    }
    a{
      display: block;
      position: relative;
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      padding: 0 30px;
      outline: none;
      color: $theme-color;
      cursor: pointer;
      &.collapsed{
        .icon-show{
          display: inline-block;
        }
        .icon-close{
          display: none;
        }        
      }
    }
  } 
}

html[dir='rtl']{
  .accordion-list{
    .icon-help{
      font-size: 20px;
      position: absolute;
      left: unset;
      right: 20px;
      color: $theme-color;
    }
    .icon-close{
      left: 0;
      right: unset;
    }
    .icon-show{      
      right: unset;
      left: 0;      
    }
  }  
}