
<!--== Start Kids Academy Area ==-->
<section id="kids-section" class="kids-area kids-default-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 col-xl-5 order-0 order-lg-1">
        <div class="kids-content">
          <div class="section-title stitle-style2 mb-2 ">
          <!--<div class="subtitle">{{'SCIENCE 2018' | translate}}</div>-->
            <h2 class="title">{{'KIDS' | translate}} <span>{{'ACADEMY' | translate}}</span></h2>
            <div class="desc">
              <p>{{'Enhance your child\'s self-assurance with our individualized coaching technique. Assist your children in getting started and becoming accustomed to physical activities from an early age. This will aid them in enhancing their equilibrium and cultivating their muscular strength. Kickboxing training from certified trainers.' | translate}}</p>
            </div>
          </div>         
        </div>
      </div>
      <div class="col-md-7 col-lg-7 col-xl-7 order-1 order-lg-0 d-flex justify-content-center ">
        <div class="thumb d-flex justify-content-center">
          <img src="assets/img/kids-academy/kid2.jpg" alt="Image">
        </div>
      </div>      
    </div>
  </div>
  <div class="shape-group">
    <div class="shape-img1">
      <img src="assets/img/photos/shape1.png" alt="Image">
    </div>
  </div>
</section>
<!--== End Kids Academy Area ==-->
