<!--== Start Bill statement Area ==-->
<app-spinner></app-spinner>
<main class="main-content">
  <section class="billstatement-container pricing-area pricing-default-area">
    <div class="container personal-box">
        <div class="profile-container mx-auto">                  
            <div class="page-title mb-5 mt-5 section-title">
            <h3 class="title-size gwTColor text-center title">
                <span>{{'financial_operations'|translate}}</span>
            </h3>
            </div>
        </div>
        <div class="row">
            <div class="invoice-item col-md-6 col-12" *ngFor="let invoice of invoice_list;let i = index">
                <div class="invoice-card mt-4">
                    <div class="invoice-time gdTColor text-center mb-2">
                        {{invoice.created_at}}
                    </div>
                    <div specify = "1">
                        <div class="invoice-card-inner-wrap boxshadow-custom1">
                            <div class="status-bar">
                                <div class="right icon">
                                    <div class="status-btn" [ngClass] = "{'paid':invoice.status == 'paid','unpaid':invoice.status == 'unpaid','pending':invoice.status=='pending' }">
                                        <h5>{{(invoice.status == 'paid' ? 'paid' : invoice.status == 'unpaid' ? 'unpaid' : invoice.status=='pending' ? 'pending' : '' )| translate}}</h5>
                                    </div>
                                </div>
                                <span class="tnSize gdTColor">
                                    <h5>#{{invoice.id}}</h5>
                                </span>
                                <div class="left icon">
                                    <div class="method-btn gdTColor">
                                        <h5>{{invoice.payment_way | translate}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="info-bar">
                                <div class="info gwTColor text-align">
                                    <p class="info-label">{{'item'|translate}}</p>                                    
                                    <p class="info-value ar-text" *ngIf="isLangflag">{{invoice.arabic_name}}</p>
                                    <p class="info-value en-text" *ngIf="!isLangflag">{{invoice.english_name}}</p>
                                </div>
                                <div class="info gwTColor text-align">
                                    <p class="info-label">{{'Amount'|translate}}</p>
                                    <p class="info-value">{{invoice.amount}}</p>
                                </div>
                                <div class="info gwTColor text-align">
                                    <p class="info-label">{{'VAT'|translate}}</p>
                                    <p class="info-value">{{invoice.vat_amount}}</p>
                                </div>
                                <div class="info gwTColor text-align">
                                    <p class="info-label">{{'Total'|translate}}</p>
                                    <p class="info-value">{{invoice.amount_after_vat}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div *ngIf="invoice_list.length === 0">          
            <p class="text-center">{{'no_bill_statement_available' | translate}}</p>
        </div>
        <div class="form-group">            
            <button type="button" class="btn btn-back" [routerLink] = "'/profile'">{{'Back' | translate}}</button>   
        </div>
    </div>
  </section>
</main>
<!--== End Bill statement Area ==-->