<div class="wrapper home-default-wrapper">
  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <router-outlet></router-outlet>

  <!--== Scroll Top Button ==-->

  <a class="scroll-to-top" target="_blank" href="https://wa.me/966920012527?text=Can you help me with" rel="noopener noreferrer"><span class="fa fa-whatsapp"></span></a>
</div>



