<!--== Start Page Slider Section ==-->
<section id="page-slider" class="page-title-area bg-img" [style.background-image]="'url('+image+')'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-content content-style2">
          <h2 class="title"><span>{{title | translate}}</span></h2>
          <div class="desc">
            <p class="ml-0">{{text1 | translate}}<br>{{text1 | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End Page Slider Section ==-->