<!--== Start Reset Password Wrapper ==-->
<div class="modal-header">
  <h4 class="modal-title text-primary">
    <img class="logo-main" src="assets/img/logo.png" alt="Logo" />
  </h4>
  <button type="button" class="btn btn-dark" (click)="onClose()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="account-login-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="login-bottom">
            <div class="login-form-content tab-content">
              <div class="tab-pane fade show active">
                <div class="login-form">
                  <div class="login-form-wrapper">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="text-center">{{'change password' | translate}}</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label">{{'Phone Number' | translate}} </label>
                          <input type="text" numberValidate [(ngModel)]="newData.mobile" placeholder="Mobile Number" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label">{{'Password' | translate}}</label>
                        </div>
                        <div class="input-group input-group-merge">
                          <input [type]="showHidePassword? 'text' : 'password'" placeholder="password" [(ngModel)]="newData.password" class="form-control">
                          <div class="input-group-append" (click)="showHidePassword = !showHidePassword">
                            <span class="input-group-text cursor-pointer">
                              <i class="fa fa-eye"  *ngIf="!showHidePassword"></i>
                               <i class="fa fa-eye-slash" *ngIf="showHidePassword"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label">{{'Confirm Password' | translate}}</label>
                        </div>
                        <div class="input-group input-group-merge">
                          <input [type]="showHidePassword? 'text' : 'password'" placeholder="Confirm Password" [(ngModel)]="confirm_password" class="form-control">
                          <div class="input-group-append" (click)="showHidePassword = !showHidePassword">
                            <span class="input-group-text cursor-pointer">
                              <i class="fa fa-eye"  *ngIf="!showHidePassword"></i>
                               <i class="fa fa-eye-slash" *ngIf="showHidePassword"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group mt-15">
                          <a class="btn-forgot" href="#" (click)="signupForm()">{{'You do not have account?' | translate}}</a>                          
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group form-group-info text-center">
                          <button class="btn button btn-black" (click)="resetPassword()">{{'save_password' | translate}}</button>
                          <button class="btn btn-outline-theme" (click)="resendCode()">{{'Resend Code' | translate}}</button>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Reset Password Wrapper ==-->