<!--== Start Footer Area Wrapper ==-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md col-sm-6">
        <ul class="social-icon">
          <li><a href=""><i class="la la-facebook"></i></a></li>
          <li><a href=""><i class="la la-twitter"></i></a></li>
          <li><a href=""><i class="la la-instagram"></i></a></li>
          <li><a href=""><i class="la la-youtube"></i></a></li>
        </ul>
      </div>
      <div class="col-md col-sm-6">
        <div class="cp">
          <span>{{'copyright_text' | translate }} </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--== End Footer Area Wrapper ==-->
