<main class="main-content">
  <app-slider   [config]="config" [page]="'home'" [image]="'assets/img/slider/intro.png'" [title_main]="'MAKE YOUR BODY HEALTHY AND MUSCULAR'" [title_sub]="'FITNESS AND GYM CENTER'"></app-slider>    
  <app-about-us [config]="config"></app-about-us>
  <app-subscribers [config]="config" [subscribers]="subscribers" [section]="'subscribers'" [page]="'home'"></app-subscribers>
  <app-workouts [config]="config" [workouts]="workouts" [section]="'workouts'" [page]="'home'"></app-workouts>
  <app-group-excerise [config]="config" [exercises]="exercises" [section]="'exercise'" [page]="'home'"></app-group-excerise>  
</main>
