<div class="modal-header">
  <h4 class="modal-title text-primary">
    <img class="logo-main" src="assets/img/logo.png" alt="Logo" />
  </h4>
  <button type="button" class="btn btn-dark" (click)="onClose()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="account-login-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto">
          <div class="login-bottom">
            <div class="login-form-content tab-content">
              <div class="tab-pane fade show active">
                <div class="login-form">
                  <div class="login-form-wrapper">
                    <div class="row">
                      <div class="col-12">
                        <h4 class="text-center">{{'Forgot_password' | translate}}</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-label">{{'Phone Number' | translate}}</label>
                          <input type="text" numberValidate [(ngModel)]="user.mobile" placeholder="05XXXXXXXX" class="form-control">
                        </div>
                      </div>                      
                      
                      <div class="col-md-12">
                        <div class="form-group form-group-info text-center">
                          <button class="btn button btn-black" (click) = "sendRestCode()">{{'verify' | translate}}</button>
                          <!-- <button class="btn btn-outline-theme" (click)="onClose({signup: true})">{{'I have a reset code?' | translate}}</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
