<!--== Start Menu slider Area Wrapper ==-->
<section class="features-area features-default-area">
  <div class="container-fluid p-0">
    <div class="row row-gutter-0">
      <div class="col-sm-6 col-lg-3">
        <!-- Start Featured Item -->
        <div class="featured-item">
          <div class="featured-thumb">
            <img src="assets/img/class/f1.jpg" alt="Image">
          </div>
          <div class="featured-info">
            <h5>{{'One hour' | translate}}</h5>
          </div>
        </div>
        <!-- End Featured Item -->
      </div>
      <div class="col-sm-6 col-lg-3">
        <!-- Start Featured Item -->
        <div class="featured-item">
          <div class="featured-thumb">
            <img src="assets/img/class/f2.jpg" alt="Image">
          </div>
          <div class="featured-info">
            <h5>{{'Certified trainers' | translate}}</h5>
          </div>
        </div>
        <!-- End Featured Item -->
      </div>
      <div class="col-sm-6 col-lg-3">
        <!-- Start Featured Item -->
        <div class="featured-item">
          <div class="featured-thumb">
            <img src="assets/img/class/f3.jpg" alt="Image">
          </div>
          <div class="featured-info">
            <h5>{{'12 people maximum for group exercises' | translate}}</h5>
          </div>
        </div>
        <!-- End Featured Item -->
      </div>
      <div class="col-sm-6 col-lg-3">
        <!-- Start Featured Item -->
        <div class="featured-item">
          <div class="featured-thumb">
            <img src="assets/img/class/f4.jpg" alt="Image">
          </div>
          <div class="featured-info">
            <h5>{{'Positive society' | translate}}</h5>
          </div>
        </div>
        <!-- End Featured Item -->
      </div>
    </div>
  </div>
</section>
<!--== End Menu slider Area Wrapper ==-->
