<!--== Start Contact Form modal ==-->
<div class="modal-header">
  <h4 class="modal-title text-primary">
    <img class="logo-main" src="assets/img/logo.png" alt="Logo" />
  </h4>
  <button type="button" class="btn btn-dark" (click)="onClose()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="contact-page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2 class="title text-black"><span>{{'GET IN TOUCH' | translate}}</span></h2>
            <div class="desc">
              <p>{{'If you need any information, feel free to send me message I will try to answer your and give you proper tips about your message' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-form mb-md-90">
            <div class="contact-form-wrapper">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row row-gutter-12">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" name="con_name" [(ngModel)]="form.name" [placeholder]="'Full Name' | translate">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="email" name="con_email" [(ngModel)]="form.email" [placeholder]="'Email' | translate">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-0">
                        <textarea name="con_message" [(ngModel)]="form.message" [placeholder]="'Write message here' | translate"></textarea>
                      </div>
                    </div>
                    <div class="col-md-4 m-auto">
                      <div class="form-group text-center">
                        <button class="btn button" (click)="onSubmitForm()">{{'SEND' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--== End Contact Form modal ==-->